<!-- Página Home --> 
  <header class="col-xs-12">
    <img src="img/bt_homegame_go_to_selupz_on.png" class="img-responsive">
  </header>
  <section class="col-xs-12">
    <ul class="media-list tl-mos">
      <% _.each(eventos, function(item){ %>
        <li class="media col-xs-12" data-id="<%= item.eid %>">
          <div class="media-left media-middle">
            <img src="img/<%= item.img %>" class="media-object" height="60px">
          </div>
          <div class="media-body">
            <p><%= item.desc %> </p>
          </div>
        </li>
      <% }) %>
    </ul>
    <!-- 
    <ul class="row list-unstyled tl-mos">
      <% _.each(eventos, function(item){ %>
        <li class="col-xs-offset-1 col-xs-10">
          <img src="img/ic_rankupz_bg_number.png" class="pull-left">
          <div class="desc-li text-center">
            <p><%= item.desc %> </p>
          </div>
        </li>
      <% }) %>
    </ul> -->
  </section>
  <footer class="col-xs-12 text-center">
    <button class="row">Click para traer mas eventos antiguos </button>
  </footer>
