  
    <!-- Pagina Lista Retos UPZ -->
    <section class="col-xs-12">
      <ul class="media-list tl-mos">
        <% _.each(list, function(item){ %>
          <li class="media col-xs-12" data-id="<%= item.rid %>" data-tipo="<%= item.tipo %>">
            <div class="media-left media-middle">
              <img src="img/<%= item.imgcat %>" height="60px">
            </div>
            <div class="media-left media-middle">
              <img src="img/<%= item.imgtipo %>" height="60px">
            </div>
            <div class="media-body">
              <p><%= item.pista %></p>
            </div>
          </li>
        <% }) %>
      </ul>
    </section>
  