  
    <!-- Pagina Rank UPZ -->
    <header class="">
      <img src="img/im_rankupz.png" class="img-responsive">
    </header>
    <section class="col-xs-12">
      <ul class="media-list tl-mos text-center">

        <% _.each(lst_rank, function(item){ %>
          <li class="media col-xs-12 ">
            <div class="media-left media-top">
              <img src="img/ic_rankupz_bg_number.png" height="60px">
              <span class="rank"><%= item.puntos %></span>
            </div>
            <div class="media-body">
              <p class="lead"><%= item.nombre %></p>
            </div>
          </li>
        <% }) %>
      </ul>
    </section>
  