<div id="carousel-relacionar" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    	<ul class="lst-cola">
		<%  _.each(lst_cola , function(item, i){ %>
			<li class="list-group-item ">
				<div class="input-group">
					<span class="input-group-addon"><%= ['A','B','C','D','E','F'][i] %></span>
					<p><%= item.resp %></p>
					<span data-id="<%= item.cod %>" class="input-group-addon alert-infraestructura" data-target="#carousel-relacionar" data-slide-to="1">
						<img src="img/ic_retorelacionar_go_to_choices.png" >
					</span>
				</div>
			</li>
		<% }) %>
		</ul>
    </div>
    <div class="item">
    	<ul class="lst-colb">
    		<% _.each(lst_colb, function(item,i){  %>
				<li class="list-group-item ">
					<div class="input-group" >
						<span class="input-group-addon"><%= i+1 %></span>
						<p><%= item.resp %></p>
						<span data-id="<%= item.cod %>" data-num="<%= i+1 %>" class="input-group-addon glyphicon btn-colb" data-target="#carousel-relacionar" data-slide-to="0" ></span>
					</div>
				</li>
			<% }) %>
		</ul>
    </div>
  </div>
</div>

<div class="col-xs-6">
	<button class="btn btn-default">Enviar</button>
</div>
<div class="col-xs-6">
	<button class="btn btn-default">Volver a la UPZ</button>
</div>